:root {
  --background: #2b2d42;
  --mainColor: #8e9dff;
  --highlightText: #fff07c;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: FuturaBk;
  src: url(../fonts/futuraBk.ttf);
  font-weight: normal;
}

html {
  font-size: 3vw;
  scroll-behavior: smooth;
  background-color: var(--background);
  transition: 0.2s;
}

body {
  font-family: FuturaBk, Trebuchet MS;
  color: var(--mainColor);
  transition: .4s;
}


/*//////////
// Navbar */

.mobBanner {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 17vw;
  background-color: var(--background);
  transition: .4s;
}

.mobBannerHidden {
  background-color: rgba(0, 0, 0, 0);
}

.mobBannerButton {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}

.burgerCont {
  right: 5vw;
  width: 10vw;
  height: 45%;
}

.burgerArm {
  width: 100%;
  height: 15%;
  background-color: var(--mainColor);
  position: relative;
  top: 0px;
  left: 0px;
  transform-origin: center;
  transition: 0.3s;
}

.botBun {
  width: 50%;
  left: -25%;
}

.topBunCross {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}

.fillerCross {
  opacity: 0;
}

.botBunCross {
  transform: translateY(50%) rotate(-45deg);
  top: -50%;
}

.backButCont {
  left: 5vw;
  width: 10vw;
  height: 45%;
  align-items: baseline;
}

.arrowArm {
  height: 15%;
  background-color: var(--mainColor);
}

.arrowMidBar {
  width: 90%;
  position: relative;
  left: 10%;
}

.arrowTip {
  width: 50%;
  transform-origin: left;
  position: relative;
  left: 6%;
}

.arrowArmTop {
  transform: rotate(-45deg);
  top: 47%;
}

.arrowArmBot {
  transform: rotate(45deg);
  top: -47%;
}

nav {
  height: 70vh;
  width: 100%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  opacity: 0;
  transition: 0.4s;
}

.navShow {
  left: 0vw;
  opacity: 1;
}

nav::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.navRule {
  width: 70%;
  height: 0.2vh;
  background-color: var(--mainColor);
}

a {
  color: var(--mainColor);
  text-decoration: none;
}

.navLayoutIcon {
  margin-top: 20vh;
  width: 15%;
}

.navLayoutIcon path {
  fill: var(--mainColor);
}

.navActive {
  color: var(--highlightText);
}


/*/////////////
// Main Body */

.homeTitleCont {
  margin: 25vw 5vw 0vw 5vw;
  width: 90vw;
}

.header {
  font-size: 2.5rem;
  line-height: 15vw;
  border-bottom: 1.5vw solid var(--mainColor);
}

#headerGilbert {
  display: block;
}

.subHeader {
  font-size: 1.5rem;
}

.subHeader h2 {
  margin-top: 7vw;
  position: relative;
}

.subHeader h2::before {
  top: 0vw;
  z-index: -1;
  color: #6a76c3;
  animation-name: subHeaderAnimation1;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.subHeader h2::after {
  top: 0vw;
  z-index: -2;
  color: #3b426f;
  animation-name: subHeaderAnimation2;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.subHeaderWeb::before, .subHeaderWeb::after {
  content: 'web design';
}

.subHeaderAVEng::before, .subHeaderAVEng::after {
  content: 'a/v engineering';
  animation-delay: 0.6s;
}

.subHeaderDrum::before, .subHeaderDrum::after {
  content: 'drumming';
  animation-delay: 1.2s;
}

.subHeader h2::before, .subHeader h2::after {
  position: absolute;
  left: 0;
}

@keyframes subHeaderAnimation1 {
  0% {top: 0;}
  100% {top: 3vw;}
}

@keyframes subHeaderAnimation2 {
  0% {top: 0;}
  50% {top: 3vw;}
  100% {top: 6vw;}
}

/*//////////
// Footer */

.footer {
  text-align: center;
  font-size: 1.3rem;
  position: absolute;
  bottom: 15vw;
  width: 100%;
}

.footer::before {
  content: '';
  width: 60%;
  height: 0.8vw;
  position: absolute;
  left: 50%;
  top: -4vw;
  transform: translateX(-50%);
  background-color: var(--mainColor);
}

.highlightText {
  color: var(--highlightText);
}

/*////////////////
// Housekeeping */

.homeSVG {
  display: none;
}

.folderTabsCont {
  display: none;
}


/*//////////////
// EXPERIENCE //
//////////////*/

.expWindowsCont {
  width: 70vw;
  position: absolute;
  top: 30vw;
  left: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.expWindow {
  width: 100%;
  border: 2vw solid var(--mainColor);
  height: 100vw;
  margin-bottom: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

 .expSVG {
  width: 40%;
  max-height: 33%;
}


/*/////////////////
// ABOUT/CONTACT //
/////////////////*/

.bodyCont {
  width: 90vw;
  position: absolute;
  top: 25vw;
  left: 5vw;
  font-size: 1.2rem;
}

.bodyCont h1 {
  font-size: 3.5rem;
  line-height: 12vw;
  border-bottom: 1.2vw solid var(--mainColor);
}

.bodyCont p, .bodyCont ul {
  margin-bottom: 6vw;
}

.bodyCont li {
  margin-left: 7vw;
}

.infoCont img {
  width: 80%;
  margin: 10vw 0 10vw 10%;
}

.abouth2 {
  font-weight: normal;
  margin: 10vw 0 1vw 0;
}

.infoCont h1 {
  margin-bottom: 10vw;
}

/*///////////
// Contact */

email {
  color: var(--highlightText);
}

.bodyCont svg {
  width: 10vw;
  margin: 6vw 3vw 0 0;
}


/*////////////////////
// EXPERIENCE PAGES //
////////////////////*/

.expPageCont {
  top: 20vw;
}

.expPageHeader {
  height: 20vw;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 2.4fr 1fr;
  grid-template-areas:
  "header header"
  "subHeader subHeader2";
  margin-bottom: 10vw;
}

.expPageHeader h1, .expPageHeader h2, .expPageHeader h3 {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.expPageCont h1 {
  grid-area: header;
  font-size: 2.6rem;
}

.expPageHeader h2 {
  grid-area: subHeader;
  font-size: 1rem;
}

.expPageHeader h3 {
  grid-area: subHeader2;
  font-size: 0.9rem;
  border-left: 1.2vw solid var(--mainColor);
  justify-self: right;
}

.expIMG {
  width: 100%;
  margin-left: 0;
  outline: 1.2vw solid var(--mainColor);
  outline-offset: -1.2vw;
}

.expPageCont iframe {
  width: 100%;
  height: 55vw;
  margin-bottom: 10vw;
}

.expFooter {
  display: none;
}

/*////////
// More */

.moreItem {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "thumb header"
  "thumb subHeader"
  "thumb body";
  grid-column-gap: 1.5vw;
  margin-bottom: 10vw;
}

.moreItem h3 {
  grid-area: header;
}

.moreItem h4 {
  grid-area: subHeader;
}

.moreItem ul {
  grid-area: body;
  margin: 0;
}

.moreItem ul li {
  margin-left: 7vw;
}

.moreBody {
  grid-area: body;
  margin-top: 3vw;
}

.moreBody p {
  margin: 2vw 0;
}

.moreItem img {
  grid-area: thumb;
  width: 100%;
  margin: 0;
}



@media only screen and (min-width: 768px) {

  html {
    font-size: 1.1vw;
  }

  .mobBanner {
    display: none;
  }

  nav {
    font-size: 1.3rem;
    top: 0px;
    left: 0px;
    transform: none;
    flex-direction: row;
    height: 15vh;
    justify-content: flex-end;
    opacity: 1;
  }

  nav::before {
    display: none;
  }

  nav a {
    margin: 0 2vw;
  }

  nav a:hover {
    color: var(--highlightText);
  }

  .navRule {
    display: none;
  }

  .navLayoutIcon {
    margin: 0 5vw 0 1vw;
    width: 3vw;
  }

  nav svg:hover > path {
    fill: var(--highlightText);
    cursor: pointer;
  }


  .homeTitleCont {
    margin: 20vh 0vw 0vw 10vw;
    width: 80vw;
    height: 25vh;
    border-bottom: 0.6vw solid var(--mainColor);
    display: flex;
    flex-direction: row;
  }

  .header {
    width: 30%;
    font-size: 2.6rem;
    font-weight: normal;
    line-height: 10vh;
    border-bottom: none;
    border-right: 0.6vw solid var(--mainColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .subHeader {
    width: 70%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .subHeader h2 {
    margin-top: 9vh;
    position: relative;
  }

  @keyframes subHeaderAnimation1 {
    0% {top: 0;}
    100% {top: 1vw;}
  }

  @keyframes subHeaderAnimation2 {
    0% {top: 0;}
    50% {top: 1vw;}
    100% {top: 2vw;}
  }

  .footer {
    font-size: 1rem;
    bottom: 10vh;
  }

  .footer::before {
    width: 16%;
    height: 0.3vw;
    top: 4vh;
  }

  .subHeaderAVEng::before, .subHeaderAVEng::after, .subHeaderDrum::before, .subHeaderDrum::after {
    animation-delay: 0s;
  }


  .expWindowsCont {
    width: 80vw;
    height: 42vh;
    top: 25vh;
    left: 10vw;
    flex-direction: row;
    justify-content: space-between;
  }

  .expWindow {
    width: 20%;
    border: 0.4vw solid var(--mainColor);
    height: 100%;
    margin-bottom: 0px;
    font-size: 1.5rem;
  }

   .expSVG {
    width: 40%;
    max-height: 33%;
  }

  .expFooter {
    display: block;
    width: 25vw;
    height: 0.3vw;
    position: absolute;
    left: 50%;
    bottom: 10vh;
    transform: translateX(-50%);
    background-color: var(--mainColor);
  }

  .expWindow:hover {
    border: 0.4vw solid var(--highlightText);
  }


  /*/////////////////
  // ABOUT/CONTACT //
  /////////////////*/

  .bodyCont {
    top: 16vh;
    width: 90vw;
    font-size: 1rem;
    position: relative;
  }

  .bodyCont h1 {
    line-height: normal;
    border-bottom: 0.4vw solid var(--mainColor);
  }

  .bodyCont p, .bodyCont ul {
    width: 60%;
    margin-bottom: 4vh;
  }

  .bodyCont li {
    margin-left: 5%;
  }

  .infoCont img {
    width: 30vw;
    position: absolute;
    top: 15vh;
    right: 0vw;
    margin: 0;
  }

  .abouth2 {
    margin: 7vh 0 1vw 0;
  }

  .infoCont h1 {
    margin-bottom: 5vh;
  }


  /*///////////
  // Contact */

  .bodyCont svg {
    width: 3vw;
    margin: 1vw 1vw 0 0;
  }

  .bodyCont svg:hover > path {
    fill: var(--highlightText);
  }


  /*////////////////////
  // EXPERIENCE PAGES //
  ////////////////////*/

  .expPageHeader {
    height: 11vh;
    margin-bottom: 9vh;
  }

  .expPageHeader h1, .expPageHeader h2, .expPageHeader h3 {

  }

  .expPageCont h1 {

  }

  .expPageHeader h2 {
    min-height: 4vh;
  }

  .expPageHeader h3 {
    padding-left: 1vw;
    border-left: 0.4vw solid var(--mainColor);
  }

  .expIMG {
    position: absolute;
    top: 20vh;
    right: 0;
    width: 24vw;
    margin: 0;
    outline: 0.4vw solid var(--mainColor);
    outline-offset: -0.4vw;
  }

  .expPageCont iframe {
    position: absolute;
    right: 0;
    top: 20vh;
    width: 34vw;
    height: 19vw;
    margin-bottom: 0;
  }


  /*////////
  // More */

  .moreItem {
    grid-template-columns: 17% auto;
    width: 60vw;
    grid-column-gap: 1vw;
    margin-bottom: 5vh;
  }

  .moreItem h3 {
    font-size: 1.5rem;
  }

  .moreItem h4 {
    font-size: 1rem;
  }

  .moreBody {
    margin: 0;
  }

  .moreBody p {
    width: 100%;
    margin: 2.5vh 0;
  }
}
