/*///////////////////
// Main stylesheet //
///////////////////*/

@font-face {
  font-family:"ff-real-headline-pro";
  src:url("https://use.typekit.net/af/12c3c7/00000000000000007735a6f5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/12c3c7/00000000000000007735a6f5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/12c3c7/00000000000000007735a6f5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
  font-family:"ff-real-headline-pro";
  src:url("https://use.typekit.net/af/e407f8/00000000000000007735a6f7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/e407f8/00000000000000007735a6f7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/e407f8/00000000000000007735a6f7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

:root {
  --hg-font: 'ff-real-headline-pro', Arial, sans-serif;
  
  --hg-green: #5C6652;
  --hg-dark-green: #3D4337;
  --hg-beige: #F3E5BB;
  --hg-off-beige: #D6CAA8;
  --hg-red: #DA5844;
  --hg-blue: #274D7C;
  --hg-light-blue: #3B74BA;
  --hg-dark-blue: #1D416C;
  --hg-white: #FFFFFF;
  --hg-off-white: #D9D9D9;
  
  --hg-border-radius: 10px;
  
  --hg-focus-outline: 0.3rem solid var(--hg-dark-green);

  --hg-margin: 20px;
  --hg-non-scaling-width: 90%;
  --hg-max-content-width: 600px;
  
  --hg-nav-height: 90px;
  
  --hg-anim-dur: 0.2s;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: var(--hg-font);
  font-size: 1rem;
  line-height: 1.4;
  color: var(--hg-dark-green);
  background-color: var(--hg-beige);
}

html {
  height: 100%;
}

body {
  min-height:100%;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: var(--hg-blue);
}

a:focus-visible {
  outline: 0.3rem solid var(--hg-dark-green);
  outline-offset: 0.3em;
}

img {
  border-radius: var(--hg-border-radius);
}

.image-shadow {
  box-shadow: 10px 10px 0 0 var(--hg-red);
  position: relative;
  top: -5px;
  left: -5px;
}


/*//// Nav & CTAs ////*/

#home-body nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.button-cont {
  display: flex;
  position: relative;
}

.button {
  padding: 14px 1.25rem;
  border-radius: 41px;
  background-color: var(--hg-blue);
  color: var(--hg-white);
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 0.02em;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}

.button:focus-visible {
  outline: var(--hg-focus-outline);
  background-color: var(--hg-light-blue);
}

.button-cont::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: var(--hg-red);
  border-radius: 41px;
  z-index: 0;
}

.button-pressed {
  transform: translate(5px, 5px) !important;
  background-color: var(--hg-dark-blue) !important;
  box-shadow: none;
  outline: none;
}


/*//// Homepage ////*/

#home-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#home-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 44px;
  max-width: 274px;
  margin: var(--hg-margin) min(var(--hg-margin), 5%);
  text-align: center;
}

#home-main {
  flex-shrink: 0;
}

#home-main img {
  display: block;
  width: 100%;
  max-width: 274px;
  margin: 0 auto;
}

#home-main h1 {
  margin: 25px 0 0 0;
}

#home-main p {
  font-size:1.125rem;
  font-weight: bold;
}

#home-body footer {
  padding: var(--hg-margin);
  font-weight: bold;
  text-align: center;
}


/*//// sub pages ////*/

.sub-page-header {
  position: relative;
  padding: 30px var(--hg-margin) 50px var(--hg-margin);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hg-white);
  background-image: url(images/header-background.svg);
  background-size: 100% 100%;
}

.sub-page-content-container {
  /* width: calc(100% - (var(--hg-margin)*2)); */
  width: var(--hg-non-scaling-width);
  max-width: var(--hg-max-content-width);
  margin: 0 auto;
  padding: 50px 0 calc(var(--hg-nav-height) + 50px) 0;
}

.sub-page-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: var(--hg-nav-height);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.sub-page-nav::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--hg-beige);
  opacity: 0.6;
}

.sub-page-nav::after {
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--hg-non-scaling-width);
  height:5px;
  background-color: var(--hg-dark-green);
  border-radius: 5px;
}

.sub-page-nav .nav-inner-container {
  display: flex;
  align-items: center;
  max-width: var(--hg-max-content-width);
  position: absolute;
  width: var(--hg-non-scaling-width);
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.sub-page-nav .button:first-of-type {
  left: 0;
}

.sub-page-nav .button:nth-of-type(2) {
  right: 0;
}


/*//// About me page ////*/

.sub-page-intro {
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.about-me-item {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: calc(10px + var(--hg-margin));
  margin: 100px 0;
  font-weight: bold;
  position: relative;
  padding: 0 var(--hg-margin);
}

.about-me-item:first-of-type {
  margin-top: 80px;
}

div.about-me-item:last-of-type {
  margin-bottom: 0;
}

.about-me-item:nth-of-type(even) {
  flex-direction: row;
}

.about-me-item:nth-of-type(even)::before {
  content: '';
  background-color: var(--hg-off-beige);
  width: 100%; height: calc(100% + 80px);
  border-radius: var(--hg-border-radius);
  position: absolute;
  z-index: 0;
}

.about-me-item-text {
  width: 50%;
  z-index: 1;
}

.about-me-item-text p {
  line-height: 1.2;
}

.about-me-item img {
  width: 36%;
}

.about-me-currently {
  text-align: center;
  flex-direction: column;
  gap: 0px;
}

.about-me-currently::before {
  content: none;
}


/*//// Photography page ////*/

.photography-content-container {
  width: 100%;
}

.photography-section {
  margin: 50px 0;
  position: relative;
}

.photography-section:first-of-type {
  margin-top: 0;
}

.photography-section:last-of-type {
  margin-bottom: 0;
}

.photography-section h2 {
  margin: 0.625rem 0;
  text-align: center;
}

.carousel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: var(--hg-margin);
  overflow-x: scroll;
}

/* carousel arrows */
.photography-section::after, .photography-section::before {
  content:'';
  position: absolute;
  bottom: calc(50% - 38px);
  background-image: url(images/arrow-thin.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hg-off-white);
  opacity: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: var(--hg-anim-dur);
}

.photography-section::before {
  left: var(--hg-margin);
  transform: rotate(180deg);
}

.photography-section::after {
  right: var(--hg-margin);
}

.photography-section[data-in-from-left]::before, .photography-section[data-in-from-right]::after {
  opacity: 0.5;
}

.photo-mask {
  height: 180px;
  border-radius: var(--hg-border-radius);
  overflow: hidden;
  flex-shrink: 0;
}

.photo {
  height: 180px;
  transition: transform var(--hg-anim-dur);
}

.photo:focus-visible {
  outline: 0.3rem solid var(--hg-white);
  outline-offset: -0.3rem;
}

.photo-mask:first-of-type {
  margin-left: var(--hg-margin);
}

.photo-mask:last-of-type {
  margin-right: var(--hg-margin);
}

.photo-view {
  margin: 0 !important;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: min(1500px, 90vw);
  max-height: min(1500px, 90vh);
  z-index: 100;
}

#photo-view-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #88888888;
  z-index: 99;
}

.d-none {
  display: none;
}


/*//// Work page ////*/

.work-article:focus-visible {
  outline: none;
}

.work-article:focus-visible > .work-article-summary {
  background-color: var(--hg-off-beige);
}

.work-article-summary {
  position: relative;
  text-align: center;
  padding: 10px 0;
  border-radius: var(--hg-border-radius);
  margin: calc(var(--hg-margin) + 12px) 0 6px 0;
}

.work-article-summary-arrow {
  display: inline-block;
  position: absolute;
  right: var(--hg-margin);
  top: 50%;
  width: 1rem;
  transform: translateY(-50%) rotate(180deg);
  transition: var(--hg-anim-dur);
}

.work-article-info {
  width: 96%;
  margin:0 auto;
  position: relative;
  background-color: var(--hg-off-beige);
  max-height: 0;
  overflow-y: hidden;
  transition: var(--hg-anim-dur);
  transition-timing-function: ease-in-out;
}

.work-article-info p {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}

.work-article-info-list {
  margin: 0 var(--hg-margin);
  padding: 0 0 10px 1em;
}

.work-article-info-list li {
  margin: 0.5em 0;
}

.work-info-divider {
  width: 100%;
  height: 3px;
  margin: auto;
  position: relative;
  background-color: var(--hg-dark-green);
  border-radius: 5px;
  z-index: 1;
  transition: var(--hg-anim-dur);
  transition-timing-function: ease-in-out;
}

.work-top-divider {
  transform: translateY(50%);
}

.work-bottom-divider {
  transform: translateY(-50%);
}

.hidden {
  width: 0;
}

.article-divider {
  margin: var(--hg-margin) auto;
  height: 100px;
  width: 5px;
  background-color: var(--hg-dark-green);
  border-radius: 5px;
}


/*//// Contact page ////*/

#contact-body h2 {
  margin: 0 0 40px 0;
}

#contact-body .sub-page-content-container {
  text-align: center;
  font-weight: bold;
}

.social-icon-container {
  display: flex;
  gap: var(--hg-margin);
  justify-content: center;
  margin: var(--hg-margin) 0;
}

.contact-logo-link {
  text-decoration: none;
  width: 3.75rem;
  height: 3.75rem;
}

.contact-logo {
  max-height: 3.75rem;
  max-width: 3.75rem;
}

.contact-logo path {
  fill: var(--hg-blue);
}


/*//// Desktop Styles ////*/

@media only screen and (min-width: 800px) {
  #home-content-container {
    max-width: 50%;
  }
  
  #home-main, #home-body nav {
    height: fit-content;
    justify-content: space-between;
  }
  
  #home-body .button-cont {
    flex-grow: 1;
  }
  
  #home-body .button {
    width: 100%;
  }
}


/*//// Hover Styles ////*/

@media (hover: hover) {
  a:hover:not(.button) {
    color: var(--hg-red)
  }

  .button:hover {
    background-color: var(--hg-dark-blue);
  }
  
  .work-article-summary:hover {
    background-color: var(--hg-off-beige);
    cursor: pointer;
  }

  .photo:hover:not(.photo-view) {
    cursor: pointer;
    transform: scale(1.1);
  }

  .contact-logo-link:hover .contact-logo path {
    fill: var(--hg-red);
  }
}