:root {
  --background: #00263e;
  --mainColor: #f24236;
  --mainText: white;
  --highlightText: #f24236;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: FuturaBk;
  src: url(../fonts/futuraBk.ttf);
  font-weight: normal;
}

html {
  font-size: 3vw;
  scroll-behavior: smooth;
  background-color: var(--background);
  transition: 0.2s;
}

body {
  font-family: FuturaBk, Trebuchet MS;
  color: var(--mainText);
}


/*//////////
// Navbar */

.mobBanner {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 17vw;
  background-color: var(--background);
  transition: .4s;
}

.mobBannerHidden {
  background-color: rgba(0, 0, 0, 0);
}

.mobBannerButton {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}

.burgerCont {
  right: 5vw;
  width: 10vw;
  height: 45%;
}

.burgerArm {
  width: 100%;
  height: 15%;
  background-color: var(--mainColor);
  position: relative;
  top: 0px;
  left: 0px;
  transition: 0.3s;
  border-radius: 10vw;
  transform-origin: center;
}

.botBun {
  width: 50%;
  left: -25%;
}

.topBunCross {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}

.fillerCross {
  opacity: 0;
}

.botBunCross {
  transform: translateY(50%) rotate(-45deg);
  top: -50%;
}

.backButCont {
  left: 5vw;
  width: 10vw;
  height: 45%;
  align-items: baseline;
}

.arrowArm {
  height: 15%;
  background-color: var(--mainColor);
  border-radius: 10vw;
}

.arrowMidBar {
  width: 90%;
  position: relative;
  left: 10%;
}

.arrowTip {
  width: 50%;
  transform-origin: left;
  position: relative;
  left: 6%;
}

.arrowArmTop {
  transform: rotate(-45deg);
  top: 47%;
}

.arrowArmBot {
  transform: rotate(45deg);
  top: -47%;
}

nav {
  height: 70vh;
  width: 100vw;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  opacity: 1;
  transition: 0.4s;
}

.navShow {
  left: 0vw;
}

nav::before {
  content: '';
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.navRule {
  width: 70%;
  height: 0.2vh;
  background-color: var(--mainColor);
}

a {
  color: var(--mainText);
  text-decoration: none;
}

a:active {
  color: var(--highlightText);
}

.navLayoutIcon {
  margin-top: 20vh;
  width: 15%;
}

.navLayoutIcon path {
  fill: white;
}

.navActive {
  color: var(--highlightText);
}

#expLink {
  display: none;
}

#expLink + .navRule {
  display: none;
}


/*/////////////
// Main Body */

.homeTitleCont {
  margin: 20vw 5vw 0vw 5vw;
  width: 90vw;
}

.header {
  text-align: right;
  font-size: 2rem;
  text-transform: uppercase;
}

.subHeader {
  font-size: 1.54rem;
  color: var(--mainColor);
  text-align: right;
  margin-top: 7vw;
}

.subHeader h2 {
  position: relative;
}


/*//////////
// Footer */

.footer {
  text-align: center;
  font-size: 1.4rem;
  position: absolute;
  right: 5vw;
  margin-top: 8vw;
  width: 31%;
  text-align: justify;
}

.highlightText {
  color: var(--highlightText);
}


/*//////////////
// EXPERIENCE //
//////////////*/

.expWindowsCont {
  width: 70vw;
  position: absolute;
  top: 30vw;
  left: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.expWindow {
  width: 100%;
  border: 2vw solid var(--mainColor);
  height: 100vw;
  margin-bottom: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .expSVG {
  width: 40%;
  max-height: 33%;
}

.expWindow {
  font-size: 2rem;
  color: var(--mainText);
}

.folderTabsCont {
  width: 25vw;
  position: absolute;
  top: 77vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.folderTab {
  height: 25vw;
  background-color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw 0;
  animation-name: tabIndicate;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  //transition: 0.4s;
}

.folderTab:active {
  background-color: #ff968f;
}

@keyframes tabIndicate {
  0% {background-color: var(--mainColor);}
  50% {background-color: #ff968f;}
  100% {background-color: var(--mainColor);}
}

.folderTab:nth-child(1) {
  animation-delay: 0s;
}

.folderTab:nth-child(3) {
  animation-delay: 0.2s;
}

.folderTab:nth-child(5) {
  animation-delay: 0.4s;
}

.folderTab:nth-child(7) {
  animation-delay: 0.6s;
}

.folderTab p {
  font-size: 1.3rem;
}

.homeSVG {
  width: 50%;
  max-height: 60%;
}

.folderTabsBody {
  width: 100vw;
  background-color: var(--mainColor);
  overflow: hidden;
  transition: .8s;
  position: relative;
  top: -1vw;
  max-height: 300vh;
}

.folderTabsHidden {
  max-height: 0vw;
}

.folderTabsBodyInnerCont {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90%;
  font-size: 1.4rem;
}

.folderTabHeader {
  margin-top: 5vw;
}

.folderTabH2 {
  font-size: 2rem;
}

.folderTabH3 {
  margin-bottom: 5vw;
  font-size: 1.3rem;
}

.folderTabsBodyInnerCont p, .folderTabsBodyInnerCont ul {
  margin-bottom: 3vw;
}

.folderTabsBody img {
  width: 100vw;
  position: relative;
  left: -5vw;
}

.folderTabsBody iframe {
  width: 100%;
  height: 50vw;
  margin: 2vw 0;
}

.folderTabsBody .moreItem:first-of-type {
  margin-top: 15vw;
}

.folderTabsBody .moreItem {
  margin: 5vw 0;
}

.folderTabsBody .moreItem img {
  left: 0;
}

/*/////////////////
// ABOUT/CONTACT //
/////////////////*/

.bodyCont {
  width: 90vw;
  position: absolute;
  top: 25vw;
  left: 5vw;
  font-size: 1.2rem;
}

.bodyCont h1 {
  font-size: 3.5rem;
  line-height: 12vw;
  //border-bottom: 1.2vw solid var(--mainColor);
}

.bodyCont p, .bodyCont ul {
  margin-bottom: 6vw;
}

.bodyCont li {
  margin-left: 7vw;
}

.infoCont img {
  width: 80%;
  margin: 10vw 0 10vw 10%;
}

.infoCont img {
  border-radius: 100%;
}

.abouth2 {
  font-weight: normal;
  margin: 10vw 0 1vw 0;
}

.infoCont h1 {
  margin-bottom: 10vw;
  color: var(--mainColor);
}

/*///////////
// Contact */

.bodyCont svg {
  width: 10vw;
  margin: 6vw 3vw 0 0;
}


/*////////////////////
// EXPERIENCE PAGES //
////////////////////*/

.expPageCont {
  top: 20vw;
}

.expPageHeader {
  height: 20vw;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 2.4fr 1fr;
  grid-template-areas:
  "header header"
  "subHeader subHeader2";
  margin-bottom: 10vw;
}

.expPageHeader h1, .expPageHeader h2, .expPageHeader h3 {
  display: flex;
  align-items: flex-end;
}

.expPageCont h1 {
  grid-area: header;
  font-size: 2.6rem;
}

.expPageHeader h2 {
  grid-area: subHeader;
  font-size: 1rem;
  align-self: flex-start;
}

.expPageHeader h3 {
  grid-area: subHeader2;
  font-size: 0.9rem;
  justify-self: right;
  align-self: flex-start;
}

.expIMG {
  width: 100%;
  margin-left: 0;
  outline: 1.2vw solid var(--mainColor);
  outline-offset: -1.2vw;
}

.expPageCont iframe {
  width: 100%;
  height: 55vw;
  margin-bottom: 10vw;
}

/*////////
// More */

.moreItem {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "thumb header"
  "thumb subHeader"
  "thumb body";
  grid-column-gap: 1.5vw;
  margin-bottom: 10vw;
}

.moreItem h3 {
  grid-area: header;
}

.moreItem h4 {
  grid-area: subHeader;
}

.moreItem ul {
  grid-area: body;
  margin: 0;
}

ul li {
  margin-left: 7vw;
}

.moreBody {
  grid-area: body;
  margin-top: 3vw;
}

.moreBody p {
  margin: 2vw 0;
}

.moreItem img {
  grid-area: thumb;
  width: 100%;
  margin: 0;
  border-radius: 100%;
}



@media only screen and (min-width: 768px) {

  html {
    font-size: 1.1vw;
  }

  .mobBanner {
    display: none;
  }

  nav {
    font-size: 1.3rem;
    top: 0px;
    left: 0px;
    transform: none;
    flex-direction: row;
    height: 15vh;
    justify-content: flex-end;
  }

  nav::before {
    display: none;
  }

  nav a {
    margin: 0 2vw;
  }

  nav a:hover {
    color: var(--highlightText);
  }

  .navRule {
    display: none;
  }

  .navLayoutIcon {
    margin: 0 5vw 0 1vw;
    width: 3vw;
  }

  nav svg:hover > path {
    fill: var(--highlightText);
    cursor: pointer;
  }


  .homeTitleCont {
    margin: 33vh 0vw 0vw 10vw;
    width: 80vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    width: 100%;
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 0.3vw;
    text-align: center;
    line-height: normal;
  }

  .subHeader {
    width: 50rem;
    margin: 0;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .subHeader h2 {
    margin-top: 0;
    position: relative;
  }

  @keyframes subHeaderAnimation1 {
    0% {top: 0;}
    100% {top: 1vw;}
  }

  @keyframes subHeaderAnimation2 {
    0% {top: 0;}
    50% {top: 1vw;}
    100% {top: 2vw;}
  }

  .footer {
    width: 100%;
    margin: 0;
    font-size: 1rem;
    bottom: 20vh;
    right: 0;
    text-align: center;
  }

  .footer::before {
    display: none;
  }

  .subHeaderAVEng::before, .subHeaderAVEng::after, .subHeaderDrum::before, .subHeaderDrum::after {
    animation-delay: 0s;
  }

  .folderTabsCont {
    width: 100vw;
    height: 7vh;
    top: auto;
    bottom: 0vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .folderTab {
    height: 100%;
    width: 25%;
    position: relative;
    bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    animation: none;
    border-radius: 1vw 1vw 0 0;
    transition: 0.2s;
    border-right: 1px solid #a83028;
  }

  .folderTab:hover {
    height: 110%;
    cursor: pointer;
  }

  .folderTab p {
    margin-left: 5%;
    font-size: 1rem;
  }

  .homeSVG {
    width: 10%;
    max-height: 60%;
    margin-left: 5%;
  }

  .folderTabsBody {
    width: 100vw;
    transition: .2s;
    position: absolute;
    top: auto;
    bottom: 0vw;
    max-height: 70vh;
    overflow-y: scroll;
    z-index: 10;
  }

  .folderTabsHidden {
    max-height: 0vw;
  }

  .folderTabRaised {
    position: relative;
    bottom: 70vh;
  }

  .folderTabsBodyInnerCont {
    position: relative;
    margin-left: 5vw;
    width: 90%;
    min-height: 70vh;
    font-size: 1.4rem;
  }

  .folderTabHeader {
    margin-top: 4vh;
    font-size: 2rem;
  }

  .folderTabH2 {
    font-size: 1rem;
  }

  .folderTabH3 {
    margin-bottom: 5vh;
    font-size: 1rem;
  }

  .folderTabsBodyInnerCont p, .folderTabsBodyInnerCont ul {
    font-size: 1rem;
    width: 50%;
    margin-bottom: 3vh;
  }

  .folderTabsBody img {
    width: initial;
    height: 100%;
    margin-bottom: 5vh;
    position: absolute;
    right: 0vw;
    top: 1vh;
    left: auto;
  }

  .folderTabsBody iframe {
    width: 40vw;
    height: 22vw;
    margin: 0;
    position: absolute;
    right: 0;
    top: 10vh;
    left: auto;
  }

  .folderTabsBody .moreItem:first-of-type {
    margin-top: 5vh;
  }

  .folderTabsBody .moreItem {
    margin: 3vh 0;
  }

  .folderTabsBody .moreItem img {
    left: 0;
    width: 100%;
    height: auto;
    position: static;
    margin: 0;
  }

  .expWindowsCont {
    width: 80vw;
    height: 42vh;
    top: 25vh;
    left: 10vw;
    flex-direction: row;
    justify-content: space-between;
  }

  .expWindow {
    width: 20%;
    border: 0.4vw solid var(--mainColor);
    height: 100%;
    margin-bottom: 0px;
    font-size: 1.5rem;
  }

   .expSVG {
    width: 40%;
    max-height: 33%;
  }

  .expFooter {
    display: block;
    width: 25vw;
    height: 0.3vw;
    position: absolute;
    left: 50%;
    bottom: 10vh;
    transform: translateX(-50%);
    background-color: var(--mainColor);
  }

  .expWindow:hover {
    border: 0.4vw solid var(--highlightText);
  }


  /*/////////////////
  // ABOUT/CONTACT //
  /////////////////*/

  .bodyCont {
    top: 16vh;
    width: 90vw;
    font-size: 1rem;
    position: relative;
  }

  .bodyCont h1 {
    line-height: normal;
  }

  .bodyCont p, .bodyCont ul {
    width: 60%;
    margin-bottom: 4vh;
  }

  li {
    margin-left: 5%;
  }

  .infoCont img {
    width: 30vw;
    position: absolute;
    top: 15vh;
    right: 0vw;
    margin: 0;
  }

  .abouth2 {
    margin: 7vh 0 1vw 0;
  }

  .infoCont h1 {
    margin-bottom: 5vh;
  }


  /*///////////
  // Contact */

  .bodyCont svg {
    width: 3vw;
    margin: 1vw 1vw 0 0;
  }

  .bodyCont svg:hover > path {
    fill: var(--highlightText);
  }


  /*////////////////////
  // EXPERIENCE PAGES //
  ////////////////////*/

  .expPageHeader {
    height: 11vh;
    margin-bottom: 9vh;
  }

  .expIMG {
    position: absolute;
    top: 20vh;
    right: 0;
    width: 24vw;
    margin: 0;
    outline: 0.4vw solid var(--mainColor);
    outline-offset: -0.4vw;
  }

  .expPageCont iframe {
    position: absolute;
    right: 0;
    top: 20vh;
    width: 34vw;
    height: 19vw;
    margin-bottom: 0;
  }


  /*////////
  // More */

  .moreItem {
    grid-template-columns: 17% auto;
    width: 60vw;
    grid-column-gap: 1vw;
    margin-bottom: 5vh;
  }

  .moreItem h3 {
    font-size: 1.5rem;
  }

  .moreItem h4 {
    font-size: 1rem;
  }

  .moreBody {
    margin: 0;
  }

  .moreBody p {
    width: 100%;
    margin: 2.5vh 0;
  }
}
